.home-widget {
  transform: opacity 500ms;
  font-family: $font-header;

  &.loading {
    opacity: 0.25;
  }
}

.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.start {
  display: flex;
}
img {
  position: relative;
  width: 299px;
  height: 119px;
  margin-right: 5px;
  z-index: 5;
  object-fit: cover;
}


.text {
  position: absolute;
  z-index: 10;

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 26px;
    color: $color-light;
    text-align: center;
  }

  p {
    font-size: 14px;
    font-family: $font-text;
    opacity: 0;
    color: $color-light;
  }

  &:hover {
    margin-top: -20px;
    transition: 1s ease;

    p {
      opacity: 1;
    }
  }
}


.open-hours {
  margin-top: -25px;
  text-align: center;
  background: #FF6B6B;
  color: $color-light;
  width: 604px;
  height: 120px;

  h3 {
    font-size: 26px;
    margin-bottom: -10px;
    padding-top: 15px;
  }

  p {
    font-family: $font-text;
    font-size: 14px;

  }
}
.carousel {
  width: 100%; 
  height: 340px; 
  display: inline-block;
}

.carousel-img {
  width: 193px;
  height: 193px
}

.comment-text {
  text-align: center;
  font-family: $font-text;
}



.gallery {
  display: block;
  position: relative;
  margin: 100px auto;

  .gallery-flex {
    display: flex;
  }

  .icons {
    position: absolute;
    font-size: 30px;
    opacity: 0;
    margin: 66px;



    .fa-share-alt{
      color: $color-light;
    }

    .fa-heart{
      color: #dd2f14; 
    }
  }

  img {
    width: 193px;
    height: 193px;
    object-fit: cover;
    margin: 5px;
  }
}

.float{
  justify-content: center;
  display: block;

  &:hover {
    opacity: 0.7;
    filter: brightness(70%);
    transition: $transition;

    .fas {
      opacity: 0.7;

      &:hover {
        opacity: 1.5;
      }
    }
  }
}


footer {
  a {
    text-decoration: none;
  }

  .footer {
    font-family: $font-text;
    font-size: 14px;
    color: #f10b58;
    text-decoration: underline;
  }
}